@model Kamen.Models.Vrsta

<form method="post" asp-action="Create">
    <div class="border p-3">
       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">Kreirati novu vrstu</h2>
        </div>
        
        <div class="row">
            
            <div class="col-8">
                
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Naziv"></label>
                    </div>

                    <div class="col-8">
                        <input asp-for="Naziv" class="form-control" />
                        <span asp-validation-for="Naziv" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="RedPrikaz"></label> 
                    </div>
                    <div class="col-8">
                        <input asp-for="RedPrikaz" class="form-control" />
                        <span asp-validation-for="RedPrikaz" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Kreirati" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-primary">Nazad</a>
                        </div> 
                    </div>
                </div>

            </div>

            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>

    </div>
</form>

@section Scripts{ 
    
    @{ <partial name="_ValidationScriptsPartial" /> }

}

@*@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>*@

